.DS_store
tmp_urdfs/
__pycache__/
*.pyc
*.mov
venv/
movies
pb_robot
pddlstream
statistics
temp
tower-*

# large datasets
learning/data/random_blocks_(x2000)_2blocks_uniform_density.pkl
learning/data/random_blocks_(x20000)_2blocks_uniform_density.pkl
learning/data/random_blocks_(x800)_2blocks_uniform_density.pkl
*.pkl

# training results
results/

# docker stuff
Dockerfile
.dockerignore
train.sh
kube_train.yaml
kube_test.yaml
