<?xml version="1.0"?>
<robot  name="UNNAMED_76" >
 <link  name="object_a" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="0.0 0.0 0.0" />
   <mass  value="1.0" />
   <inertia  iyy="0.001"  ixz="0"  ixy="0"  iyz="0"  ixx="0.001"  izz="0.001" />
  </inertial>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <box  size="0.05 0.07 0.02" />
   </geometry>
  </collision>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <box  size="0.05 0.07 0.02" />
   </geometry>
   <material  name="color" >
    <color  rgba="1.0 1.0 0.0 1.0" />
   </material>
  </visual>
 </link>
</robot>
