catkin-pkg==0.4.16
ipython==7.15.0
matplotlib==3.2.0
networkx==2.4
numpy==1.18.1
numpy-quaternion==2022.4.2
git+https://github.com/mike-n-7/odio_urdf.git
pybullet==2.6.6
pyglet==1.5.23
git+https://github.com/eleramp/pybullet-object-models.git
recordclass==0.13.2
Rtree==0.9.7
scipy==1.4.1
six==1.14.0
trimesh==3.10.5
git+https://github.com/mike-n-7/tsr
