<?xml version="1.0"?>
<robot  name="block" >
 <link  name="blocka" >
  <inertial >
   <origin  xyz="-0.5 0 0"  rpy="0 0 0" />
   <mass  value="1.0" />
   <inertia  iyy="0.001"  ixx="0.001"  iyz="0"  izz="0.001"  ixy="0"  ixz="0" />
  </inertial>
  <collision >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <box  size="0.6 0.6 0.6" />
   </geometry>
   <!-- <contact_coefficients mu="0.2" kp="0.5" kd="0.5"/> -->
  </collision>
  <visual >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <box  size="0.6 0.6 0.6" />
   </geometry>
   <material  name="color" >
    <color  rgba="0 1 1 1.0" />
   </material>
  </visual>
 </link>

   <!-- <link  name="blockb" >
    <inertial >
      <origin  xyz="0.5 0.5 0.5"  rpy="0 0 0" />
      <mass  value="0.01" />
      <inertia  iyy="0.001"  ixx="0.001"  iyz="0"  izz="0.001"  ixy="0"  ixz="0" />
    </inertial>
    <collision >
      <origin  xyz="0.5 0.5 0.5"  rpy="0 0 0" />
      <geometry >
        <box  size="0.1 0.1 0.1" />
      </geometry>
    </collision>
    <visual >
      <origin  xyz="0.5 0.5 0.5"  rpy="0 0 0" />
      <geometry >
        <box  size="0.1 0.1 0.1" />
      </geometry>
      <material  name="color" >
        <color  rgba="0 1 1 1.0" />
      </material>
    </visual>
  </link>

  <joint name="base_to_right_leg" type="fixed">
     <parent link="blocka"/>
     <child link="blockb"/>
     <origin xyz="0.5 0.5 0.5"/>
  </joint> -->
</robot>