<?xml version="1.0"?>
<robot  name="block" >
 <link  name="blocka" >
  <inertial >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <mass  value=".08" />
   <inertia  iyy="0.001"  ixx="0.001"  iyz="0"  izz="0.001"  ixy="0"  ixz="0" />
  </inertial>
  <collision >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <box  size="0.06 0.06 0.06" />
   </geometry>
   <!-- <contact_coefficients mu="0.2" kp="0.5" kd="0.5"/> -->
  </collision>
  <visual >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <box  size="0.06 0.06 0.06" />
   </geometry>
   <material  name="color" >
    <color  rgba="0 1 1 1.0" />
   </material>
  </visual>
 </link>
</robot>
