<?xml version="1.0"?>
<robot  name="cover" >
 <deformable  name="p1" >
  <inertial >
   <mass  value="1" />
   <inertia  izz="0"  ixy="0"  iyy="0"  ixz="0"  iyz="0"  ixx="0" />
  </inertial>
  <collision_margin  value="0.01" />
  <repulsion_stiffness  value="800.0" />
  <friction  value="0.5" />
  <neohookean  mu="570"  lambda="570"  damping="0.01" />
  <visual  filename="res_2_cover_6_in.vtk" />
 </deformable>
</robot>
