<?xml version="1.0"?>
<robot  name="mut_block" >
 <link  name="p2" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <mass  value="1.6" />
   <inertia  izz="0.001"  ixy="0"  iyy="0.001"  ixz="0"  iyz="0"  ixx="0.001" />
  </inertial>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <box  size="0.6 0.6 0.6" />
   </geometry>
  </collision>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <box  size="0.6 0.6 0.6" />
   </geometry>
   <material  name="color" >
    <color  rgba="0 1 1 1" />
   </material>
  </visual>
 </link>
</robot>
